

<%= form_for(@invoice) do |c| %>
<%= render partial: 'layouts/errors', locals: {object: @invoice} if @invoice.errors.count != 0 %>
<div class="col-md-6">
	<div class="field form-group">
		<label for="service"> Service: </label>
		<%= c.hidden_field :project_id %>
		<%= c.text_field :service, :class => "form-control" %><br>
	</div>
	<div class="field form-group">
		<label for="rate"> Rate: </label>
		<%=  c.number_field :rate, step: :any, :class => "form-control" %><br>
	</div>
	<div class="field form-group">
		<label for="amount"> Quantity: </label>
		<%=  c.number_field :amount, :class => "form-control" %><br>
	</div>
	<div class="field form-group">
		<label for="total"> Total: </label>
		<%=  c.number_field :total, :class => "form-control" %><br>
	</div>
	<br><br>
	<%= c.submit :class => "btn btn-success"  %>
<%end%>
</div>




