<%= form_for(@invoice) do |c| %>
	<label> Service: </label><br>
  <%= c.hidden_field :project_id %>
	<%=  c.text_field :service %><br>
	<label> Rate: </label><br>
	<%=  c.text_field :rate %><br>
	<label> Amount: </label><br>
	<%=  c.number_field :amount %><br>
	<label> Total: </label><br>
	<%=  c.number_field :total %><br>
	<br><br>
  <% if !params[:project_id] %>
  	<%= c.label :project_id, "Select from existing projects" %>
  	<%= c.collection_select :project_id, Project.all, :id, :description, prompt: true %>
  	<br><br>
 <% end %>
  <br><br>

	<%= c.submit %>
<%end%>



