<%= form_for(@invoice) do |c| %>
<%= render partial: 'layouts/errors', locals: {object: @invoice} if @invoice.errors.count != 0 %>
	<label> Service: </label><br>
  <%= c.hidden_field :project_id %>
	<%=  c.text_field :service %><br>
	<label> Rate: </label><br>
	<%=  c.text_field :rate %><br>
	<label> Amount: </label><br>
	<%=  c.number_field :amount %><br>
	<label> Total: </label><br>
	<%=  c.number_field :total %><br>
	<br><br>
  <br><br>
	<%= c.submit %>
<%end%>



