

<br>


<% if params[:project_id] && @invoices.count != 0%>
	<h2>Your Invoices for Project "<%=@project.description%>":</h2>
		<%=render 'index'%>
<br>
	<h4>To add a new invoice for this project, click <%=link_to "HERE", new_project_invoice_path(@project)%>. <br>

<% elsif params[:project_id] && @invoices.count == 0 %>
	<h4 style="color:red">You currently have no invoices for this project. To add a new invoice for this project, click <%=link_to "HERE", new_project_invoice_path(@project)%>.
<% elsif !params[:project_id] && @invoices.count != 0 %>
<%=render 'index'%>
<%else%>
	<h4 style="color:red">You currently have no invoices. To create a new invoice, you first need to create a new client and a project or add it to an existing project.</h4>
<%end%>
