<%= form_for(@client) do |c| %>
<%= render partial: 'layouts/errors', locals: {object: @client} if @client.errors.count != 0 %>
	<label> Client Name: </label><br>
	<%=  c.text_field :business_name,  :placeholder=>"Required" %><br>
	<label> Address: </label><br>
	<%=  c.text_field :address, :placeholder=>"Enter address" %><br>
	<label> Website: </label><br>
	<%=  c.text_field :website, :placeholder=>"Enter website"%><br>
	<label> Email: </label><br>
	<%=  c.email_field :email, :placeholder=>"Enter email" %><br>
      <br>
	<%= c.submit %>
<%end%>