<%= form_for(@client) do |c| %>
	<label> Client Name: </label><br>
	<%=  c.text_field :business_name %><br>
	<label> Address: </label><br>
	<%=  c.text_field :address %><br>
	<label> Website: </label><br>
	<%=  c.url_field :website %><br>
	<label> Email: </label><br>
	<%=  c.email_field :email %><br>
	<br><br>
	<%= c.label :project_id, "Select a Project" %>
  	<%= c.collection_select :project_id, Project.all, :id, :description, prompt: true %>
  	<br><br>
  	<% if !params[:project_id] %>
    <h4>Or add a new project:</h4>

    <%= c.fields_for :project do |v|%>
        <%= v.label :description %>
        <%= v.text_field :description %>
    <% end %>
      <% end %>

      <br>
      <br>
	<%= c.submit %>
<%end%>