<h2>Edit your existing client record: </h2>
<%= form_for(@client) do |c| %>
	<label> Client Name: </label><br>
	<%=  c.text_field :business_name %><br>
	<label> Address: </label><br>
	<%=  c.text_field :address %><br>
	<label> Website: </label><br>
	<%=  c.url_field :website %><br>
	<label> Email: </label><br>
	<%=  c.email_field c:email %><br>
	<%= c.submit %>
<%end%>
  <%= link_to "Delete", @client, method: :delete, data: { confirm: "Are you sure you want to delete this client?" } %>
</p>