

	<div class="row">
		<div class="col-sm-6">
				<div class="container">	
				<% if @clients.count != 0 %>
					<br>
					<h3>Your Clients:</h3>
					<form class="form-inline my-2 my-lg-0">	
						<input class="form-control mr-sm-2" id="search" type="text" placeholder="Search" aria-label="Search">
					</form><br/>
					</div>
						<div class="index" align="left" style="overflow: auto;">
							<ol id="xyz">
							<% @clients.each do |c| %>
								<h5><li id="name"><%=c.business_name%></li>
								<form action="<%=client_path(c)%>" method="get" style="display:inline-block">
									<button type="submit" class="btn btn-primary btn-md" value="Clients" style="display:inline-block">Client View Page</button>
									<button class="js-more btn btn-success btn-md" data-id="<%= c.id %>">Quick Info</button></h5>
								</form>	
							<% end %>	
							</ol>			
						</div>	
					</div>

		<div class="col-sm-6">
			<br>
			<h4>To add full details of a new client click<br> 
			<%=link_to "HERE", new_client_path, :class => "btn btn-primary btn-md"%> or <button class="js-new btn btn-success btn-md">Quick Add</button> </h4>
		<%else %>
			<h3 style="color:red">You currently have no clients. To add a new client click <%=link_to "HERE", new_client_path%>.</h3>
		<%end%>
			<h3><div id="new-client"></div></h3>
			<h3><div id="client-show" align="left"></div></h3>



	</div>

