<!DOCTYPE html>
<html
style="width: 100%;
height: 100%">
  <head>
    <title>ClientTrackerRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Montserrat">
    <style>
body {
  background-image: url('/images/jesus-kiteque-224069-unsplash.jpg');
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;  
  color:  #0E1422;
  font-family: 'Montserrat', serif;
  /* text-shadow: 0.2px 0.5px #000000; */
}
 </style>

  </head>

  <body>
    <div class="container">
    <div class="nav"><%=render 'layouts/nav'%></div>
    <%=render 'layouts/alerts'%>
    <div id="thing">
    <%= yield %>
  </div>
  </div>
  </body>
</html>
